# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Runtime
*.tmp
*.temp

# Plugin specific
/src/main/resources/META-INF/pluginIcon.svg
/src/main/resources/META-INF/pluginIcon_dark.svg
